<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="emp" class="com.cts.training.spring.Employee" autowire="byName" scope="prototype">
<property name="empId" value="101"></property>
<property name="name" value="Arvind"></property>
<property name="designation" value="Developer"></property>
</bean>

<bean id="add" class="com.cts.training.spring.Address">
<property name="location" value="Hinjewadi"></property>
<property name="city" value="Pune"></property>
</bean>
<bean id="address" class="com.cts.training.spring.Address">
<property name="location" value="Hebbal"></property>
<property name="city" value="Bangalore"></property>
</bean>
</beans>
